.index {
  background-color: #fff;
  min-height: 100vh;
  
  .head-img {
    width: 144rpx;
    height: 132rpx;
    margin: 74rpx auto 0 auto;
  }

  .head-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 28rpx;
    color: #101010;
    line-height: 40rpx;
    height: 40rpx;
    margin-top: 40rpx;
  }

  .content {
    width: 100%;
    margin-top: 162rpx;
  }

  .dialog {
    width: 500rpx;

    .dialog-index--van-dialog__confirm {
      color: #ff6363!important;
    }
    
    .dialog-title {
      margin-top: 40rpx;
      height: 80rpx;
      text-align: center;
      position: relative;

      .title-img {
        position: absolute;
        left: 200rpx;
        top: 20rpx;
        width: 38rpx;
        height: 38rpx;
        line-height: 80rpx;
      }

      .title-word {
        line-height: 80rpx;
        height: 80rpx;
      }
    }

    .dialog-content {
      text-align: center;

      .content-word {
        width: 100%;
        font-size: 28rpx;
        color: #969696;
      }
    }
  }
}
