.index {
  background-color: rgba(239, 239, 244, 1);
  min-height: 100vh;
  padding-bottom: 40rpx;
  .bottom-40 {
    margin-bottom: 40rpx;
  }
  .color-lite-blue {
    color: #50b7f4;
    .van-button {
      color: #50b7f4;
    }
  }
  .block {
    padding: 0 30rpx;
    background-color: #fff;
    border-top: 2rpx solid #f4f4f4;
  }
  .normal {
    height: 86rpx;
    line-height: 86rpx;
    font-size: 28rpx;
    color: #484848;
    .block-label {
      display: block;
      float: left;
      height: 86rpx;
      line-height: 86rpx;
    }
    .block-value {
      display: block;
      float: right;
      height: 86rpx;
      line-height: 86rpx;
      min-width: 120rpx;
      text-align: right;
    }
    .normal-icon {
      height: 86rpx;
      .van-icon {
        line-height: 86rpx;
      }
    }
    .block-switch {
      float: right;
      height: 86rpx;
      .van-switch {
        margin-top: 11rpx;
      }
    }
    .block-picker {
      display: block;
      float: right;
      .picker {
        min-width: 100rpx;
        height: 86rpx;
        text-align: right;
      }
    }
  }
  .icon {
    color: #c9c9c9;
    float: right;
  }
  // 进度展示
  .speed {
    height: 162rpx;
    width: 100%;
    position: relative;
    z-index: 100;
    background-color: #fff;
    .speed-wrapper {
      background-color: #fff;
      border-radius: 20rpx;
      position: absolute;
      left: 60rpx;
      top: -10rpx;
      z-index: 102;
      box-shadow: 0rpx 0rpx 4rpx #aaa;
      width: 630rpx;
      height: 162rpx;
      .speed-label {
        display: block;
        height: 86rpx;
        line-height: 86rpx;
        font-size: 24rpx;
        text-align: center;
      }
      .speed-bar {
        width: 510rpx;
        margin: 10rpx auto 0 auto;
      }
    }
    .speed-word {
      padding: 2rpx 12rpx;
      height: 30rpx;
      top: -10rpx;
      text-align: center;
      line-height: 30rpx;
      font-size: 20rpx;
      border-radius: 30rpx;
      background-color: #3388ff;
      color: #fff;
    }
  }
  // 时间展示
  .time {
    background-color: #333;
    font-weight: bold;
    height: 230rpx;
    line-height: 230rpx;
    font-size: 104rpx;
    color: #fff;
    .time-icon {
      margin-top: -16rpx;
      height: 230rpx;
      .van-icon {
        line-height: 230rpx;
      }
    }
  }
  .time-modal {
    .at-modal__content {
      padding: 0!important;
    }
    .time-button {
      display: block;
      width: 100%;
      .van-button {
        display: block;
      }
    }
  }
  // 删除按钮
  .del-button {
    width: 700rpx;
    margin: 40rpx auto;
    color: #fd5b73;
    border: 1rpx dotted #fd5b73;
  }
}
