.index {
  background-color: #efeff4;
  padding-top: 80rpx;
}
.top-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.warning {
  height: 60rpx;
  line-height: 60rpx;
  display: block;
  width: 100%;
  background-color: #ff5151;
  color: #fff;
  font-size: 28rpx;
  text-align: center;
}
.add {
  height: 78rpx;
  background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  .add-button {
    display: block;
    height: 78rpx;
    line-height: 78rpx;
    float: right;
    color: #fff;
    font-size: 28rpx;
    margin: 0 30rpx;
  }
}
.device {
  color: #666;
  height: 154rpx;
  width: 710rpx;
  margin: 28rpx auto 0 auto;
  border-radius: 8rpx;
  box-shadow: 0rpx 0rpx 4rpx #aaa;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  .device-left {
    width: 146rpx;
    padding: 20rpx;
  }
  .device-middle {
    flex: 1;
    padding: 20rpx;
    .name {
      width: 100%;
      height: 48rpx;
      display: block;
      font-size: 28rpx;
    }
    .time {
      width: 100%;
      height: 66rpx;
      line-height: 66rpx;
      display: block;
      font-size: 48rpx;
    }
  }
  .device-right {
    width: 100rpx;
    padding: 20rpx;
    .icon {
      height: 60rpx;
      width: 60rpx;
      display: block;
      position: relative;
      z-index: 100;
      .device-ele {
        position: absolute;
        z-index: 120;
        height: 20rpx;
        top: 50%;
        margin-top: -10rpx;
        left: 10rpx;
      }
      .ele-red {
        background-color: #ff3000;
      }
      .ele-black {
        background-color: #333;
      }
    }
    .type {
      font-size: 28rpx;
      height: 66rpx;
      line-height: 66rpx;
    }
  }
}
.unlink {
  color: #757575;
  position: relative;
  z-index: 100;
  .device-middle {
    .time {
      color: #757575;
    }
  }
  .unlink-model {
    position: absolute;
    z-index: 110;
    height: 154rpx;
    width: 710rpx;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
  }
}
.unlink-label {
  font-size: 24rpx;
  color: #757575;
  padding-left: 20rpx;
  display: block;
  margin-top: 30rpx;
}
// 弹窗
.dialog-title {
  background-color: #fff;
  height: 112rpx;
  line-height: 112rpx;
  font-size: 28rpx;
  padding: 0 56rpx;
  .title-label {
    display: block;
    float: left;
    height: 112rpx;
    line-height: 112rpx;
  }
  .title-status {
    color: #5c9adf;
    display: block;
    float: right;
    height: 112rpx;
    line-height: 112rpx;
  }
}
.dialog-content {
  height: 662rpx;
  overflow: scroll;
  background-color: #ddd;
}
.dialog-loading {
  float: left;
  margin-top: 70rpx;
  margin-left: 290rpx;
}
.dialog-nodata {
  font-size: 28rpx;
  display: block;
  text-align: center;
  height: 200rpx;
  line-height: 200rpx;
  color: #666;
}
.blue-content {
  width: 100%;
  height: 60rpx;
  margin: 40rpx 0;
  font-size: 28rpx;
  color: #666;
  .blue-icon {
    float: left;
    width: 60rpx;
    height: 40rpx;
    margin: 0 30rpx;
  }
  .blue-text {
    display: block;
  }
}
.dialog-button {
  .button-left {
    .van-button {
      display: block;
      font-size: 28rpx;
      float: left;
      width: 50%;
      color: #5c9adf;
      height: 108rpx;
      line-height: 108rpx;
    }
  }
  .button-right {
    .van-button {
      display: block;
      font-size: 28rpx;
      float: right;
      width: 50%;
      color: #101010;
      height: 108rpx;
      line-height: 108rpx;
    }
  }
}


